.pacifico-regular {
    font-family: "Pacifico", cursive !important;
    font-weight: 400 !important;
    font-style: normal !important;
    font-size: 70px !important;
    
}
.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
  }

body{
    background-image: url(../Assets/pexels-freephotos-64778.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}  

.container h2{
    background: -webkit-linear-gradient(rgb(188, 12, 241), rgb(212, 4, 4)) !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    transition: 1s !important;
}

.container h2:hover{
    background: -webkit-linear-gradient(rgb(212, 4, 4), rgb(188, 12, 241)) !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
transform: translateY(40px);
}

@media screen and (max-width: 480px) {
    .container h3 {
      color: rgb(91, 255, 3) !important;
    }
  }

  